html, body{
  box-sizing:border-box;
  font-family:sans-serif;
  background-color: #222;
  color:#eee;
  text-align: center;
}

*, *:before, *:after{
  box-sizing:inherit;
}

h1{
  font-size:3rem;
  margin:1rem;
}

h2{
  font-size: 1.5rem;
  margin:0.5rem;
}

h4 {
  font-size:1.25rem;
  margin-bottom:0.5rem;
}

input:focus {
  outline: none;
}

.artistInputText {
  margin: 0.5rem;
  margin-right: 0;
  padding: 0.75rem 1.25rem;
  padding-left: 1.25rem;
  width:30%;
  font-size: 1.5rem;
  background-color: #555;
  color:#eee;
  border: 0px;
  border-radius: 50px 0 0 50px;
}

.artistInputText {
  cursor:text;
}

.artistInputSubmit{
  margin: 0.5rem;
  margin-left: 0;
  padding: 0.75rem;
  padding-right:1.25rem;
  font-size: 1.5rem;
  background-color: #119944;
  color: #111;
  border: 0px;
  border-radius: 0 50px 50px 0;
}

.artistInputSubmit:hover{
  cursor:pointer;
}

.recommendation-list{
  margin: 0 auto;
  width: 90%;
}

.recommendation{
  margin:0 auto;
  padding: 2%;
  width: 25%;
  float:left;
}

.recommendation--image {
  width:100%;
}

.recommendation--playlist{
  width:100%;
  height:400px;
}