html, body {
  position:relative;
  background-color: #191414;
  color: #eee;
  text-align: center;
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  margin: 1rem;
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  margin: 0.5rem;
  font-size: 1rem;
}

h4 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

p {
  font-style: italic; 
  font-size: 0.75rem;
}

input:focus {
  outline: none;
}

.help-modal-container{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(25,20,20, 0.8);
}

.help-modal{
  width: 50%;
  height: 50vh;
  margin: 25vh 25%;
  padding: 1% 5%;
  background-color: #1DB954;
  border: 2px solid #191414;
  border-radius: 200px;
  color: #191414;
}

.help-modal h3 {
  margin: 3rem 0;
  font-size: 4rem;
  font-weight: 700;
}

.help-modal p {
  font-size: 2rem;
  font-style: normal;
  text-align: justify;
}

.artistInputText {
  margin: 0.5rem;
  margin-right: 0;
  padding: 0.75rem 1.25rem;
  padding-left: 1.25rem;
  width: 30%;
  font-size: 1.5rem;
  font-family: Montserrat, sans-serif;
  background-color: #555;
  color: #eee;
  border: 0px;
  border-radius: 50px 0 0 50px;
}

.artistInputText:hover {
  cursor: text;
}

.artistInputSubmit {
  margin: 0.5rem;
  margin-left: 0;
  padding: 0.75rem;
  padding-right: 1.25rem;
  font-size: 1.5rem;
  font-family: Montserrat, sans-serif;
  background-color: #1DB954;
  color: #191414;
  border: 0px;
  border-radius: 0 50px 50px 0;
}

.artistInputSubmit:hover {
  cursor: pointer;
}

.recommendation-list {
  margin: 0 auto;
  width: 90%;
}

.recommendation {
  margin: 1% auto;
  padding: 2%;
  width: 25%;
  float: left;
}

.recommendation--image {
  width: 100%;
}

.recommendation--playlist {
  width: 100%;
  height: 400px;
}